@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1117;
  color: #e5e7eb;
}

@media print {
  #app-root {
    display: none;
  }
}
  #recibo-imprimible {
    box-shadow: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    font-size: 20px !important;
    padding: 40px !important;
  }

  #recibo-imprimible p {
    font-size: 1em !important;
  }
